@import '../css/animation.css';
@font-face {
  font-family: "iconfont"; /* Project id 3916470 */
  src: url('iconfont.woff2?t=1677930872663') format('woff2'),
       url('iconfont.woff?t=1677930872663') format('woff'),
       url('iconfont.ttf?t=1677930872663') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fanhuidingceng:before {
  content: "\e618";
}

.icon-texiao:before {
  content: "\e652";
}

.icon-liuyan:before {
  content: "\e615";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-shezhi:before {
  content: "\e63e";
}

.icon-heiye:before {
  content: "\e628";
}

.icon-xiaolaba:before {
  content: "\e64c";
}

.icon-wave-1:before {
  content: "\e608";
}

.icon-wave-2:before {
  content: "\e609";
}

.icon-wave-3:before {
  content: "\e60a";
}

.icon-wave-5:before {
  content: "\e60b";
}

.icon-wave-4:before {
  content: "\e60c";
}

.icon-folder:before {
  content: "\e60d";
}

.icon-time:before {
  content: "\e60e";
}

.icon-sign:before {
  content: "\e60f";
}

.icon-find:before {
  content: "\e610";
}

.icon-menu:before {
  content: "\e611";
}

.icon-message:before {
  content: "\e612";
}

.icon-good:before {
  content: "\e613";
}

.icon-hot:before {
  content: "\e614";
}
.icon-caidan:before {
  content: "\e662";
}


.icon-hot{
  color: red;
}
.icon-texiao{
  font-size: 18px;
}
.icon-heiye{
  font-size: 18px;
}

.icon-heiye:hover{
  color: #7ec5c8;
}
.icon-texiao:hover{
  color: #7ec5c8;
}
.icon-shezhi{
  font-size: 28px;
  color: var(--settingColor);
}
.icon-fanhuidingceng{
  color: var(--settingColor);
  font-size: 32px;
}
.icon-dianzan{
  font-size: 56px;
}
