/* 波浪的动画 */
@keyframes wave-1{
    50%{
        transform: translateY(15px);
    }
}
  @keyframes wave-2{
    50%{
        transform: translateY(15px);
    }
}
@keyframes wave-3{
    50%{
        transform: translateY(20px);
    }
}
@keyframes wave-4 {
50% {
transform: translateY(20px);
}
}
@keyframes wave-5 {
50% {
transform: translate(-32px,10px);
}
}
@keyframes iconScale {
50%{
    transform: scale(1.1);
}
}
@keyframes music{
    50%{
      transform:rotateZ(360deg)
    }
    }
@keyframes userInfo {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}
@keyframes buttonChange {
    100%{
        transform: translateX(100%);
    }
}
/* 登录注册按钮放大缩小 */
@keyframes buttonBig{
50%{
    transform:scale(1.2);
}
100%{
    transform: scale(1);
}
}

@keyframes hideToShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* 打开网页时滚动到内容处所有el-card的动画 */
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes rotate {
    0%{
      transform:rotate(0)
    }
    100%{
      transform: rotate(360deg);
    }
  }

  /* 下移 */
@keyframes my-shake {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    30% {
        opacity: 0.5;
        transform: translateY(25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* 上移 */
@keyframes scatter {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}

/* 淡入淡出 */
@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* 首图动画：下移 */
@keyframes header-effect {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* 文章展示：上移 */
@keyframes article-effect {
    0% {
        /* opacity: 0; */
        transform: translateY(100px);
    }

    100% {
        /* opacity: 1; */
        transform: translateY(0);
    }
}