@import './iconfont.css';
html{
    height: 100%;
}
body{
    background:  var(--bgc);
    background-size: cover;
    height:100%;
    width:100%;
    /* overflow-x: hidden; */
    /* 超出水平页面的内容隐藏 */
    font-family: ZhuZiAwa1n,serif;
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
        height: 10px;
     
    }

    &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background: #7ec5c8;
    }
    &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 0;
        background: #c3ddde;
    }
}

/* 注册字体的 */
@font-face {
    font-family: zhuziAwa1n;
    src: url(../fonts/zhuziAwa1n.ttf);
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}
/* 全局字体间距是1px */
div,span{
    letter-spacing: 1.5px;
}
li{
list-style: none;
}
/* 全局布局 */

/* 全局卡片的阴影样式 */
 .el-card.is-always-shadow{
    box-shadow: 0.2vw 0.2vw 1vw rgba(0,0,0,0.2);
}
/* 全局去掉卡片的边框+设置边框圆角 */
.el-card{
border: 0;
border-radius: 15px !important;

}
.el-dialog{
    @media screen and (max-width:1100px) {
        width: 70%;
    }
   
}
.footer{
    margin-top: 50px;
      width: 100%;
      height: 60px;
      background-color: palevioletred;
  }
  //菜单抽屉
.drawer{
    background: var(--bgc);
    font-size: 10px;
    .el-drawer__header{
        color: #fff;
        margin: 0 auto;
        margin-bottom:20px ;
        font-size: 22px;
        font-weight: bold;
        
    }
    .el-drawer__body{
overflow-y: hidden;
    }

 }
:root{
    /* 公共样式 */
    --content-bgc:#fff;//内容的背景颜色
    --bgc:radial-gradient(300% 100% at top,#14253e 10%,#75517d 40%,#e98296 65%,#f7eca7)no-repeat;
    
    /* 颜色 */
    /* 灰色 */
    /* 边框灰 */
    --border:rgb(207, 207, 207);
    /* 字体灰 */
    --fontGray:rgb(104, 104, 104); 
    /* 边框hover的阴影样式 */
    --boxHoverShadow:0.5vw 0.5vw 1.1vw rgba(0,0,0,0.3);
    /* hover的按钮变色 */
    --buttonHover:#7ec5c8;
    /* icon动的动画 */
    --iconScale:iconScale 1s infinite;
    /*马卡龙颜色*/
    --colorful1:#f894a5;
    --colorful2:#82c9dc;
    --colorful3:#b4dccc;
    --colorful4:#b0a6c7;
    /*经典紫*/
    --purple:#626aef;
    /* 经典绿 */
    --blueGreen:#7ec5c8;

}

 